---
---

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #00AAAA;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
.content {
    text-align: center;
    padding: 30vh 0 0;
    h1, h2, h3 {
        margin: 0;
    }
    h1 {
        color: #00AAAA;
        font-family: 'Pacifico', cursive;
        font-size: 5rem;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    }
    h2, h3 {
        //color: #AAAAAA;
        //color: #ffffff;
        color: #444444;
    }
    h3 {
        cursor: pointer;
        padding: 1rem 0;
        transition: 0.3s;
        &:hover {
            color: #00AAAA;
        }
    }
    .bubble {
        background-color: #00AAAA;
        display: inline-block;
        padding: 0.3rem 2rem;
        border-radius: 8px;
        position: relative;
        span {
            color: #ffffff;
        }
        &:before {
            content: "";
            background-color: #00AAAA;
            position: absolute;
            height: 10px;
            width: 10px;
            top: -2px;
            left: 0;
            right: 0;
            margin: 0 auto;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            transform: rotate(45deg);
            z-index: -9;
        }
    }
}

@import 'animations', 'responsive';